@import url("reset.css") screen;
@import url("animation.css") screen;
@import url("unsemantic-grid-responsive.css") screen;
@import url("font-awesome.css") screen;
@import url("font-awesome-ie7.css") screen;
@import url("menu-icon.css") screen;
@import url("animate.min.css") screen;

@font-face {
    font-family: 'Porter Bold';
    src: url("../fonts/PorterBold.otf");
}
@font-face {
    font-family: 'Porter Medium';
    src: url("../fonts/PorterMedium.otf");
}
@font-face{
font-family: proximanova-light;
src: url('../fonts/proximanova-light.otf'),
     url('../fonts/proximanova-light.otf'); /* IE9 */
} 
@font-face{
font-family: bebas;
src: url('../fonts/bebas___.ttf'),
     url('../fonts/bebas___.ttf'); /* IE9 */
} 
@font-face{
font-family: prometheus;
src: url('../fonts/prometheus.ttf'),
     url('../fonts/prometheus.ttf'); /* IE9 */
} 

@font-family-headers-bold: 'Porter Bold', Porter Bold, Georgia, "Georgia Regular";
@font-family-headers-medium:'Porter Medium', Porter Medium, Georgia, "Georgia Regular";
@font-body: proximanova-light, "Proxima Nova Lt", Proxima Nova Lt, proximanova-light, sans-serif;
@background-color:#f1f1f1;
@background-content: lighten(@background-color, 5%);
@borders:#484848;
@font-color-light:#fff;
@font-color:#7b7b7b;
@font-color-dark: darken(@font-color, 20%);
@logo-red-rgb: rgb(226, 51, 27);
@logo-red-rgba: rgba(226,51,27, 0.9); 
@green: #74dd9a;
@add-to-basket-icon:#2370ba;

body{ 
	font-family: @font-body;
  	background:@background-color;
	font-size:0.65em;
}
p{
	font-size:1em;
	line-height:1.4em;
	padding-bottom:1.4em;
	color:@font-color;
}
a{ 
	color:@logo-red-rgb;
	text-decoration:none;
	&:hover{ 
		text-decoration:hover; 
	}
} 
.clear{ clear:both; }
h1, h2, h3, h4{
	font-family:"Arno Pro";
	padding-bottom:0.75em;
}
h1 { font-size:4em; padding-bottom:1em;  }
h2 { font-size:4em; }
h3 { font-size:4em; padding-bottom:1em;  }
.grid-container{ max-width:1200px; }


.header {
	position:fixed;
	top:0;
	z-index:1;
	height:7em;
	& .section--header{
		background:@font-color-dark;
		& .section--header--logo {
			& h1 { 
				padding:0;
				margin:0.225em 0;
				height: 1.5em;
				width:100%; 
				float:left; 
				background:url("../images/cookbook.png") no-repeat center center;
				background-size:contain; 
				& .section--header--logo__link{ 
					font-size:0;  
					height:100%; 
					width:100%; 
					float:left; 
					
				}
			}
		}
		& .section--header--navigation{
			font-family:@font-family-headers-bold;
			height:7em; 
			& .or { 
				line-height:6em;
				text-transform:uppercase;
				font-size:1.25em;
				float:left;
				margin:0 0.25em 0 1em;
				color:#fff; 
			}
			& .section--header--navigation__links {
				height:6em;
				border-bottom:0.25em solid @borders;
				float:left;
				line-height:6em;
				text-transform:uppercase;
				font-size:1.25em;
				color:@background-content;
				padding:0;
				text-decoration:none;
				margin-left:1.5em; 
				&:hover{ 
					color:#ffffff; 
					border-bottom:0.25em solid #ffffff;
				}
				&.login-top{
					line-height:100%;
					margin:1em 0 1em 1em;
					padding:0 1em; 
					height:4em;
					font-family:@font-family-headers-bold;
					border:0.1em solid @background-color;
					background:none;
					color:@background-color;
					&:hover{
						background:@logo-red-rgb;
						border:0.1em solid @logo-red-rgb;
						color:#fff;
					}
				}
			}
		}
		& .mobile-icon{
			background:@borders;
			margin:0;
			color:@background-content;
			float:left;
			width:4.2em;
			height:4.2em;
			border:0.1em solid @background-content;
			z-index:9;
			float:left;
			cursor:pointer;
			&.login-top-mobile{
				float:right;
			}
		}
	}
}
section{
	&:nth-of-type(2) {
		
	}
}
.article--main { margin-top:7em; }
button.button, .details--action--group a{
	font-family:@font-family-headers-bold;
	float:right;
	border:0.1em solid @logo-red-rgb;
	background:none;
	color:@logo-red-rgb;
	height:3em;
	margin-left:1em;
	padding:0 1.5em; 
	cursor:pointer;
	&:hover{
		background:@logo-red-rgb;
		border:0.1em solid @logo-red-rgb;
		color:#fff;
	}
}

.section--header--search{
	& input { margin:1em 0; }
}
input{ 
	font-family:@font-family-headers-bold;
	font-size:1.25em;
	height:4em;
	line-height:4em;
	border:0;
	color:#333;
	background:#f3f3f3;
	&:focus{
		background:#fff;
	}
}
.margin-15-0{ margin:1.5em 0; }

.search-area{
	background-color: rgba(0, 0, 0, 0.85);
	transform: translate(0px, 0px);
	height: 15em;
    opacity: 0;
    position: absolute;
    transform: translate(0px, -20em);
    transition-delay: 0s, 0s;
    transition-duration: 0.4s, 0.4s;
    transition-property: transform, opacity;
    transition-timing-function: ease, ease;
    z-index: -1;
	&.open{
		opacity: 1;
		overflow-x: visible;
		overflow-y: visible;
		transform: translate(0px, 0px);
		z-index:1;
	}
}
.search-area-inner{ 
	margin-top:6em;
	& input{ 
		margin:1.5em 0;
	}
	& button{
		padding:0;
		border:1px solid @logo-red-rgb;
		background:@logo-red-rgb;
		color:@background-content;
		font-size:1.6em;
		height:4em;
		cursor:pointer;
		&:hover{
			background:#cf2912;
		}
	}
}

.search-area-inner-mobile{
	margin-top:70px;
	& button{
		padding:0;
		border:0.1em solid @logo-red-rgb;
		background:@logo-red-rgb;
		color:@background-content;
		height:4em;
		cursor:pointer;
		&:hover{
			background:#fff;
			color:@logo-red-rgb;
		}
	}
}


.search-area-extra{
	& h6, & ul{ 
		float:left;
		font-size: 1.25em;
		padding:1em 0;
	}
	& h6 {
		color: #999;
	}
	& ul {
		& > li{ 
			float:left;
			border-left:0.1em solid #4d4d4d;
			padding:0 0.5em; 
			&:first-child {
				border-left:0;
			}
			& a{
				color:#fff;
			}
		}
	}
}

/* MOBILE MENU */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 100%;
    top: 0;
	 -webkit-transition: all 0.2s;
    background-color: @logo-red-rgb; /* Black fallback color */
    background-color: @logo-red-rgba; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	& .menu-mobile{ 
		margin-top:2em;
		& .navigation-mobile{
			margin-bottom:3em;
			& a {
				float:left;
				width:100%;
				text-align:center;
				line-height:4em;
				height:4em;
				font-family:@font-family-headers-bold;
				font-size:2em;
				font-weight:600;
				color:@background-content;
				&:hover{
					color:@logo-red-rgb;
					background:#fff;
				}
			}
			& button{ margin-top:1.5em;}
		}
	}
	button{
		float:left;
		border:0.1em solid @background-content;
		color:@background-content;
		background:none;
		cursor:pointer;
		margin:0;
		&:hover{
			background:@background-content;
			border:0.1em solid @background-content;
			color:@logo-red-rgb;
		}
	}
}

/* MOBILE MENU END*/

.section--main--image{
	min-height:46em;
	position:relative;
	margin-bottom:2em;
	margin-top:7em;
	& .section--main--image__image{
		height:46em;
		width: 100%;
		background-image:url("../images/background.jpg");
		background-repeat:no-repeat;
		background-position:center center!important;
		background-size:cover!important;	
		& .section--main--image__image--relative{
			height: 100%;
			position: relative;
			& .section--main--image--details-block{
				top:9em;
				left:5em;
				position: absolute;
				width:28em;
				height:30em;
				padding:3.25em 3em;
				background:@background-content;
				& .details-block__label{
					font-family:@font-family-headers-medium;
					width:5em;
					height:4em;
					line-height:1.75em;
					padding:1em 0.5em;
					border-radius:50%;
					-moz-border-radius:50%;
					background:@logo-red-rgb;
					color:@background-content;
					font-size:1.4em;
					text-align:center;
					font-style:italic;
					position:absolute;
					font-weight:400;
					top:-3em;
					left:-3em;
				}
				& h3{
					text-align:center;
					font-size:3em;
					color:@borders;
					padding-bottom:0.5em;
				}
				& p{
					text-align:center;
					font-size:1.4em;
					line-height:1.4em;
				}
			}
		}
	}
}
.details--block--user-area {
	& .details--block__image { 
		float:left; 
		width:4em; 
		height:4em; 
		border-radius:50%;
		-moz-border-radius:50%;
	}
	& .details--block__name{ 
		text-transform:uppercase;
		font-size:1.4em;
		float:left;
		margin-left:1em;
		color:@borders;
		font-weight:600;
		text-decoration:none;
		font-family:@font-family-headers-medium;
	}
	& a{
		&:hover{ 
			& .details--block__image {
				opacity:0.75;
			}
			& h5{ text-decoration:underline;}
		}
	}
}
.section--recipe--inside{
	& .details--block__name{ 
		line-height:2.5em
	}
}

.social{
	font-size: 1.4em;
	line-height: 3em;
	& .social--list{
		list-style-type:none;
		display:inline;
		& .social--list__item{
			list-style-type:none;
			display:inline;
			margin-left:0.5em;
			color:@font-color;
			top: 0.2em;
			position: relative;
			& a {
				& .fa { color:@logo-red-rgb; font-size:1.5em; }
				&:hover{
					& .fa { color:darken(@logo-red-rgb,20%); }
				}
			}	
			&.social--list__item--label{ margin:0; top: 0; }
		}
	}
}
.section--main--image__image--relative {
	& .social{
		& .social--list{
			position:absolute;
			bottom:0;
			right:1em;
			& .social--list__item{
				& a {
					& .fa { color:#fff; }
					&:hover{
						& .fa { color:@logo-red-rgb; }
					}
				}
				&.social--list__item--label{ color:#fff; }
			}	
		}
	}
}
.items--list{
	& .items--list__item{
		margin-bottom:2em;
		& .items--list__item--details{
			background:#fff;
			padding-bottom:2em;
			& .item--details__cover--parent{  
				overflow: hidden;
				position: relative;
				float: left;
				height: 100%;
				width: 100%;
				& .item--details__cover{ background-size:contain; overflow:hidden; } 
			}
			& h2{
				font-size:2em;
				color:@borders;
				text-decoration:none;
				line-height:1.25em;
				padding-bottom:0.75em; padding-top:0.75em;
			}
			& .item--details__user-area{ 
				& span{
					height:4em;
					position:relative;
					& img{ 
						position:absolute;
						left:50%;
						margin-left:-3em;
					}
				}
				& h5{ 
					font-family:@font-family-headers-medium;
					text-align:left;
				}
				padding-bottom:2em;
				& a{
					&:hover{ 
						& img {
							opacity:0.75;
						}
					}
				}
			}
			&:hover{
				-webkit-box-shadow: 0 0.2em 0.5em 0.1em rgba(0,0,0,0.25);
				-moz-box-shadow: 0 0.2em 0.5em 0.1em rgba(0,0,0,0.25);
				box-shadow: 0 0.2em 0.5em 0.1em rgba(0,0,0,0.25);
				& .item--details__cover{
					-webkit-transition: -webkit-transform 0.5s ease;
					-moz-transition: -moz-transform 0.5s ease;
					transition: transform 0.5s ease;
					-webkit-transform: scale(1.1);
					-moz-transform: scale(1.1);
					-o-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
		}
	}
}
.button--simple, .button--reply{
	font-family:@font-body;
	float:left;
	border:0;
	color:@logo-red-rgb;
	margin-left:1em;
	padding:0; 
	cursor:pointer;
	background:none;
	&:hover{
		color:
		border:0;
		background:inherit;
		text-decoration:underline;
	}
}
.item--likes-and-reply{
	& .item__likes{
		font-size:1.5em;
		float:left;
		margin-left:1em;
	}
	& .item__reply{
		& button{
			font-size:1.5em;
		}
	}
}
.section--items--list{
	& .view--more{
		margin-bottom:2em;
		text-align:center;
		& button{ margin-left:0; }
	}
}
.recipe--intro--ratings__time{
	font-size:1.25em;
}
.recipe--intro--ratings__items{
	font-size:1.25em;
	&::after{
		content: " (123) ";
		display: inline;
		position: relative;
		color: #444;
	}
	
	& .fa-star{
		display:none;
	}
	& > span{ 
		cursor:pointer;
		position: relative;
		&:hover{
			& .fa-star{ 
				display:inline-block;
			}
			& .fa-star-o{ 
				display:none;
			}
			& ~ span{
				& .fa-star-o{
					display:inline-block;
				}
				& .fa-star{
					display:none;
				}
			}
		}
		& + li:before {
			content: "";
			display: block;
			position: absolute;
			top: -1em;
			left: 0;
			right: 0;
			height: 1em;
		}
	}
	&:hover > span{
		& .fa-star{ 
			display:inline-block;
			color:@logo-red-rgb;
		}
		& .fa-star-o{ 
			display:none;
		}
	}
	&.ratings{
		&.rating-1{
			& span{
				& .fa-star{ 
				display:none;
				}
				& .fa-star-o{ 
					display:inline-block;
				}
				&:nth-child(1) {
					& .fa-star{ 
						display:inline-block;
					}
					& .fa-star-o{ 
						display:none;
					}
				}
			}
		}
		&.rating-2{
			& span{
				& .fa-star{ 
					display:none;
				}
				& .fa-star-o{ 
					display:inline-block;
				}
				&:nth-child(1) {
					& .fa-star{ 
						display:inline-block;
					}
					& .fa-star-o{ 
						display:none;
					}
				}
				&:nth-child(2) {
					& .fa-star{ 
						display:inline-block;
					}
					& .fa-star-o{ 
						display:none;
					}
				}
			}
			
		}
		&.rating-3{
			& span{
				& .fa-star{ 
					display:none;
				}
				& .fa-star-o{ 
					display:inline-block;
				}
				&:nth-child(1) {
					& .fa-star{ 
						display:inline-block;
					}
					& .fa-star-o{ 
						display:none;
					}
				}
				&:nth-child(2) {
					& .fa-star{ 
						display:inline-block;
					}
					& .fa-star-o{ 
						display:none;
					}
				}
				&:nth-child(3) {
					& .fa-star{ 
						display:inline-block;
					}
					& .fa-star-o{ 
						display:none;
					}
				}
			}
		}
		&.rating-4{
			& span{
				& .fa-star{ 
					display:inline-block;
				}
				& .fa-star-o{ 
					display:none;
				}
				&:nth-child(5) {
					& .fa-star{ 
						display:none;
					}
					& .fa-star-o{ 
						display:inline-block;
					}
				}
			}
		}
		&.rating-5{
			& span{
				& .fa-star{ 
					display:inline-block;
				}
				& .fa-star-o{ 
					display:none;
				}
			}
			
		}		
	}
}
.items--list{
	& .recipe--intro--ratings{
		margin:2em 0 0 0;
	}
}
.recipe--intro--ratings__label{
	text-align:center;
	& span{
		font-size: 1.4em;
	}
}

footer{
	padding:2em 1em; 
	color:#fff;
	margin: 10px 0 0 0; 
	background-color:@borders;
	border-top:0.25em solid #000; 
	& ul{ 
		float:left; 
		& li{ 
			line-height:3em;
			height:3em;
			float:left;
			color:#999999;
			font-size:1.25em;
		}
		&:first-child {
			& li{ margin-right:1em; }	
		}
	}
}

.section--recipe { 
	position:relative; 
	padding:2em 0;
	background-color:@background-content;
	& h2{
		text-align:left;
		font-size:4em;
		color:@borders;
		margin-bottom:0.5em;
		padding-bottom:0.5em;
		border-bottom: 1px solid lighten(@borders, 50%);
	}
	& .section--recipe--intro{ 
		margin-top:20px; 
		margin-bottom:20px; 
		& p{ 
			font-size: 1.4em;
			line-height: 1.4em;
			color:@borders;
		}
	}	
	& .recipe--intro--tags{ 
		margin:1em 0; 
		padding:1em; 
		border-top:5px solid @borders; 
		border-bottom:1px solid lighten(@borders,50%);
		line-height:1.1em;
		& .recipe--tags__items{ 
			color:@borders; 
			& p{
				line-height:1em;
				padding:0;
				margin-right:1em; 
				font-size:1.4em; 
				& a{ 
					color:@logo-red-rgb; 
					float:left; 
					margin-right:1em; 
					text-decoration:none;
					&:after{
						content:', ';
						color:@borders!important;
						position:relative;
					}
					&:hover{ 
						text-decoration:underline; 
					}
					&:last-of-type{
						&:after{
							content:'';
						}
					}
				}
			}
		}
		& .recipe--intro--cooked {
			& button{
				position:relative;
				top:-2px;
				padding:0;
				text-transform:unset!important;
				margin:0;
				border:0; 
				color:@font-color;
				height:auto;
				&:hover{
					color:@logo-red-rgb;
					background:none;
				}
			}
			&.is--on{
				& button{
					color:@logo-red-rgb;
					&:hover{
						color:@font-color;
						background:none;
					}
				}
			}
		}
	}
	& .section--advertisment{
		margin:3em 0;
		& img{
			position:relative;
			left:50%;
			margin-left:-369px;
		}
	}
	& .recipe-ingredients__item
	{
		&.recipe-ingredients__add-all-item {
			border-bottom:0.1em solid lighten(@font-color, 40%);
			margin-bottom:1em;
			padding-bottom:1em; 
		}
		& .recipe-ingredients__quantity {
			font-weight: 600; 
			text-align: right;
		}
		& .recipe-ingredients__add-all {
			font-weight: bold; 
			text-align: left;
		}
		& .recipe-ingredients__quantity, & .recipe-ingredients__name, & .recipe-ingredients__add-all{
			display: inline-block;
			font-size: 1.4em;
			line-height: 1.4em;
			vertical-align: top;
		}
		& .recipe-ingredients__add {
			display: inline-block;
			& button{
				& .fa{
					cursor:pointer;
					color:lighten(@add-to-basket-icon, 20%);
					
				}
				&:hover{
					& .fa{
						color:darken(@add-to-basket-icon, 10%)!important;
					}
				}
			}
		}
	}
	& .recipe--instructions {
		& h3{ 
			font-size:2.5em;  
			margin-bottom:0; 
			text-align:left;
			margin-top:0.5em;
			padding-top:0.5em;
			border-top: 1px solid lighten(@borders, 50%);
		}
		& .recipe--steps--wrap {
			& ol {
				counter-reset: item;
				display: block;
				font-size: 1.5em;
				line-height: 1.45em;
				& li{
					display: block;
					margin-bottom: 30px;
					margin-left: 0;
					position: relative;
					&:before {
						color: #000;
						content: "Step " counter(item);
						font-family:@font-family-headers-bold;
						counter-increment: item;
						display: block;
						line-height: 1;
						padding-bottom: 10px;

					}
				}
			}
		}
	}
	& .section--recipe--details{
		& .section--recipe--details__items{
			float:left;
			margin:0 0 0 1em;
			font-size: 1.4em;
			line-height: 2.5em;
			& h4{ 
				font-family: @font-family-headers-bold;
				font-size:1em;
				float:left;
				padding-bottom:0;
				color:@borders;
			}
			&:before{
				line-height: 3em;
				content:'COOKING ';
				font-family: @font-body;
				color:@font-color;
				margin-right:0.5em;
				float:left;
			}
			&.prep-time{
				&:before{
					content:'PREP ';
				}
			}
			&.spice-range{
				&:before{
					content:'SPICE ';
				}
				&.low{ 
					& h4{ 
						color: @green;
					}
				}
				&.medium{ 
					& h4 {
						color: lighten(@logo-red-rgb, 25% ); 
					}
				}
				&.hot{ 
					& h4{ 
						color: @logo-red-rgb; 
					}
				}
			}
		} 
		
	}
	
} 
.or { 
	line-height:6em;
	text-transform:uppercase;
	font-size:1.25em;
	float:left;
	margin:0 0.25em 0 1em;
	color:#fff; 
	text-align:center;
}
.section--explore--cookbook{
	& .items--list {
		& .items--list__item{
			& .items--list__item--details{
				position:relative;
				& .details-block__label{
					font-family:@font-family-headers-medium;
					width:3em;
					height:3em;
					line-height:2.5em;
					border-radius:50%;
					-moz-border-radius:50%;
					background:@logo-red-rgb;
					color:@background-content;
					font-size:1.75em;
					text-align:center;
					font-style:italic;
					position:absolute;
					font-weight:400;
					top:50%;
					left:50%;
					margin-top:-3em;
					margin-left:-2em;
				}
				& h2 { padding-bottom:0!important; }
			}
		}
	}
}
.button{
	font-family:@font-body;
	&.button--cooked{
		line-height:1.1em;
		margin-left:0
	}
}
button {
	&.serving--counter--arrow{
		height: 3.4em;
		line-height:1em;
		margin:0;
		float:left;
		&:disabled {
			cursor:default;
			background:lighten(@borders,60%);
			border-color:lighten(@borders,40%);
			color:lighten(@borders,40%);
			
		}
	}
}
.section--recipe {
	& .recipe--intro--tags{ 
		& .recipe--intro--cooked{
			& button{ float:left; }
		}
	}
}
.servings--and--metric{
	& .servings--div{
		margin-bottom:2em;
		& .servings--div__label {
			line-height:3em;
			font-size: 1.5em;
			display: inline-block;
			vertical-align: top;
		}
		& .serving__counter__input{
			text-align:center;
			border:0.1em solid #f3f3f3;
			height:3.5em;
			float:left;
		}
	}
	& .metric--div{
		margin-bottom:2em;
		& button{
			margin-left:0;
			&.is--active{
				background: @logo-red-rgb;
				border: 0.1em solid @logo-red-rgb;
				color: #fff;
			}
		}
	}
}

.comments { 
	background-color:@background-content;
	& .comment{
		padding:2em 0;
		margin:2em 0;
		border-top:0.25em solid @borders;
		& h3{ font-size:2.5em; padding-bottom:1em;  }
		& .comment--div{
			font-size:1.5em;
			& .comment--div__textarea{
				& textarea{
					resize: vertical;
					padding:1em;
					font-family:@font-body;
				}
			}
			& .comment--div__textarea__text{
				text-align:right;
				& p{
					text-align:right;
				}
			}
		}
	}
	.comments--list{ 
		& .comments--list__item{
			& .item--comment, & .button--simple{
				font-size: 1.5em;
			}
			& .item--comment{
				& p{
					margin-top:1em;
				}
			}
		}
	}
}