/* Landscape phones and down */
@media (max-width: 767px) { 
	.user-area {
		position:relative;
		text-align:center;
	}
	.user-area .user-img img{ 
		position:absolute;
		height:40px;
		width:40px;
		border-radius:20px;
		-moz-border-radius:20px;
		margin-left:-20px;
		left:50%;
	}
}